.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
}

.App-input {
  width: 100%;
  height: 38px;
  font-size: 15px;
  padding: 8px 16px;
}

.App-autocomplete {
  position: absolute;
  background: white;
  color: #333;
  left: 0;
  right: 0;
  text-align: left;
}

.App-autocomplete-item {
  padding: 4px 8px;
  border-bottom: 1px solid #eee;
}

.App-autocomplete-item.item-highlighted {
  background: #d9d9d9;
  cursor: pointer;
}

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}
